* {
  margin: 0 auto;
}
body {
  background-color: rgb(204,204,204);
}
p {
  color: rgb(204,0,0);
  border: 1px solid rgb(0,0,0);
  margin: 0 10px;
}
h1 {
  width: 400px;
  color: rgb(110,110,200);
  text-decoration: underline;
  text-align: center;
  margin: 0 auto;
}